.main_body {
    display: flex;
    min-height: 100vh;
    background-color: rgb(240, 242, 245);
    position: relative;
}

@media (max-width: 500px) {
    .main_body {
        flex-direction: column;
    }    
}

